/* Estilos globales */
body {
    background-color: black;
    margin: 0;
}

.visible {
    opacity: 1 !important;
}

.fl-scrolly-step {
    padding: 0px !important;
}

.fl-scrolly-section {
    background-color: rgba(0,0,0,0);
}

.flourish-credit {
    visibility: hidden !important;
    height: 0px !important;
    margin-bottom: 0px !important;
}

.flourish-credit a{
    height: 0px !important;
}

.flourish-credit img{
    height: 0px !important;
}

.flourish-credit span{
    height: 0px !important;
}

@font-face {
    font-family: 'PaintCans';
    src: url('/fonts/PaintCans.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MagikMarker';
    src: url('/fonts/MagikMarker.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Captions';
    src: url('/fonts/Captions.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}